html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px){
  #container {
      width: 750px;
  }
}

@media (min-width: 992px){
  #container {
      width: 970px;
  }
}

@media (min-width: 1200px){
  #container {
      width: 1170px;
  }
}

#container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

#map{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

#tweet-info{
  position: absolute;
  z-index: 999999;
  top: 75px;
  left: 10px;
  color: white;
}

.color-sample{
  display: inline-block;
  height: 10px;
  width: 20px;
  cursor: pointer;
}

form{
  position: absolute;
  z-index: 999999;
  top: 10px;
  left: 120px;
}

#tweetId{
  width: 400px;
}
