{% extends "home.html" %}
{% block map %}
<div id="tweet-info">
</div>
<div id="map"></div>
  <script>
      function center(points, map){
        // Center on poly
        var bounds = new google.maps.LatLngBounds();
        for (var n = 0; n < points.length ; n++){
          bounds.extend(points[n]);
        }
        map.fitBounds(bounds);
      }

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 24.886, lng: -70.268},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        var points = []

        // Define the LatLng coordinates for the polygon's path.
        {% for tweet in polys %}
          var points_poly = []
          var color = '#'+('00000'+(Math.random()*(1<<24)|0).toString(16)).slice(-6)
          $('#tweet-info').append('<b>Tweet {{ tweet[1]['id'] }}: </b><span class="color-sample {{ tweet[1]['id'] }}" style="background-color:' + color + ';"></span><br/>{{ tweet[1]['text'] }}<br/>')

          {% for poly in tweet[0] %}
            var polyCoords = [
              {% for p in poly %}
                {lat: {{ p[1] }}, lng: {{ p[0] }}},
              {% endfor %}
            ];

            // Construct the polygon.
            var poly = new google.maps.Polygon({
              paths: polyCoords,
              strokeColor: color,
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: color,
              fillOpacity: 0.35
            });

            points_poly = points_poly.concat(poly.getPath().getArray());
            points = points.concat(poly.getPath().getArray());
            poly.setMap(map);
          {% endfor %}

          $('#tweet-info .{{ tweet[1]['id'] }}').click(center.bind($('#tweet-info .{{ tweet[1]['id'] }}'), points_poly, map));
        {% endfor %}

        center(points, map)
      }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&signed_in=true&callback=initMap"></script>
{% endblock %}
